data
js/jquery.csv-0.71.min.js
js/papaparse.min.js
js/three.min.js
TrackballControls.js
meshes/Bucky_Bobble_Head_ME.STL
meshes/ascii/pr2_head_pan.stl
meshes/ascii/pr2_head_tilt.stl
meshes/ascii/slotted_disk.stl
meshes/binary/colored.stl
meshes/binary/pr2_head_pan.stl
meshes/binary/pr2_head_tilt.stl
meshes/bucky.ply
meshes/cube.ply
meshes/cube.stl
js/Projector.js
js/dat.gui.js
js/font.typeface.js
meshes/bucky.pcd
meshes/bucky_ascii.csv
meshes/bucky_ascii.pcd
meshes/bucky_ascii.ply
meshes/cube.csv
meshes/cube.pcd
other/cube.pcd
other/cube.ply
